In [1]:
import pandas as pd
import numpy as np

In [2]:
chunksize = 10 ** 6
tf2_list = []
for chunk in pd.read_csv('test_format2.csv', chunksize=chunksize):
    chunk = chunk.drop('activity_log', axis = 1)
    tf2_list.append(chunk)
test_format2 = pd.concat(tf2_list)

In [3]:
len(test_format2)

7027943

In [4]:
test_format2[0:2]

   user_id  age_range  gender  merchant_id  label
0   163968        0.0     0.0         4378   -1.0
1   163968        0.0     0.0         2300   -1.0

In [10]:
test_format2.age_range.value_counts()

3.0    1916611
4.0    1460542
0.0    1345565
5.0     752608
2.0     733323
6.0     650358
7.0     128644
8.0      20612
1.0        260
Name: age_range, dtype: int64